include ../mixins
block variables

doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content="")

  //-favicon block start
  //-favicon block end


link(rel="stylesheet", href="/statick/css/main.css") 

body
 .wrapper
    include ../modules/header
    block content
    include ../modules/footer
script(src="/statick/js/main.js")
script(src="/statick/js/libs.min.js")
block script