doctype
html(lang="ru")
   head
    meta(charset="utf-8")
    
    title= "Mishka - интернет - магазин"
    link(rel="stylesheet", href="dist/css/style.css")
   body
    p привет!
    h1 hello!
    h2 dfg
    h3 gygy
    .on 
   